#eChatModal.in {
    overflow: hidden;
}

#eChatModal .modal-dialog {
    width: 100%;
    max-width: 900px;
}

#eChatModal .user-list-container,
#eChatModal .message-container {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

/* to make scrollbars always visible */
#eChatModal .always-visible.ps-container > .ps-scrollbar-x-rail,
#eChatModal .always-visible.ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
}

#eChatModal .modal-dialog.no-margin-top {
    margin-top: 0 !important;
}

#eChatModal .modal-dialog.no-margin-left-right {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#eChatModal .close {
    font-size: 32px;
}

#eChatModal .modal-header {
    padding: 5px 15px 5px 15px;
}

#eChatModal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

#eChatModal .modal-body .col-xs-2 {
    padding: 0;
}

#eChatModal .modal-body .col-xs-10 {
    padding: 0;
}

#eChatModal .user-list-container {
    padding-right: 15px;
}

#eChatModal .user-list {
    list-style-type: none;
    padding: 0;
}

#eChatModal .user-list li {
    padding: 5px 15px 15px 15px;
}

#eChatModal .user-list li.active {
    background-color: #18bc9c;
}

#eChatModal .user-list li img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#eChatModal .user-list li a {
    display: block;
    padding-top: 5px;
    font-weight: bold;
}

#eChatModal .user-list li.active a {
    color: #ffffff;
}

#eChatModal .user-list li div {
    font-size: 0.875em;
    font-style: italic;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#eChatModal .user-list li.active div {
    color: #000000;
}

#eChatModal .message-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 5px;
    border-left: 1px solid #cccccc;
}

#eChatModal .message-container .messages {
    word-wrap: break-word;
    margin-bottom: 10px;
    line-height: 24px;
}

#eChatModal .message-container .messages .from-me,
#eChatModal .message-container .messages .from-them {
    max-width: 70%;
}

#eChatModal .message-container p {
    margin: 0;
    font-size: 14px;
}

#eChatModal .message-container .author-left {
    float: left;
    margin: 0 0 0 5px;
    font-size: 0.75em;
}

#eChatModal .message-container .author-right {
    float: right;
    margin: 0 5px 0 0;
    font-size: 0.75em;
}

#eChatModal .message-container .clear {
    clear: both;
    margin: 0;
    padding: 0;
}

#eChatModal .message-container .from-me {
    position: relative;
    padding: 5px 15px;
    color: white;
    background: #18bc9c;
    float: right;

    -webkit-border-radius: 15px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 15px;
    -moz-border-radius-topright: 5px;
    border-radius: 15px;
    border-top-right-radius: 5px;
}

/*
#eChatModal .message-container .from-me:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #18bc9c;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

#eChatModal .message-container .from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}
*/

#eChatModal .message-container .from-them {
    position: relative;
    padding: 5px 15px;
    background: #E5E5EA;
    color: black;
    float: left;

    -webkit-border-radius: 15px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius: 15px;
    -moz-border-radius-topleft: 5px;
    border-radius: 15px;
    border-top-left-radius: 5px;
}

/*
#eChatModal .message-container .from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

#eChatModal .message-container .from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}
*/

#eChatModal .message-container .message-toolbar,
#eChatModal .message-container .message-toolbar .no-margin-no-padding {
    margin: 0;
    padding: 0;
}

#eChatModal .message-container .message-toolbar a,
#eChatModal .message-container .message-toolbar a:visited,
#eChatModal .message-container .message-toolbar a:active,
#eChatModal .message-container .message-toolbar a:focus {
    font-size: 20px;
    color: #777777;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}

#eChatModal .message-container .message-toolbar a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #0f0f0f;
}

#eChatModal .message-container textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#eChatModal .settings-toolbar a,
#eChatModal .settings-toolbar a:visited,
#eChatModal .settings-toolbar a:active,
#eChatModal .settings-toolbar a:focus {
    font-size: 20px;
    color: #777777;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}

#eChatModal .settings-toolbar a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #0f0f0f;
}

#eChatModal .modal-footer {
    padding: 5px 15px 5px 15px;
}

#eChatModal .footer-copyright {
    color: #777777;
}

@media (max-width: 767px) {
    #eChatModal .user-list li {
        padding: 3px;
    }

    #eChatModal .user-list li img {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #eChatModal .user-list-container {
        padding-right: 0;
    }

    #eChatModal .message-container {
        padding-right: 5px;
    }
}

@media (max-width: 979px) {
    #eChatModal {
        padding: 0 0 0 0 !important;
    }

    #eChatModal .modal-dialog {
        margin: 0 auto;
    }
}
